
/* Importar fuentes */
@font-face {
    font-family: 'TipografiaTextos';
    src: url(/fonts/AtkinsonHyperlegible-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'TipografiaTitulos';
    src: url(/fonts/NortHeadline-Cond.ttf) format('truetype');
  }

  /* Estilos generales: Fondo de cuerpo */
body{
    background-color: #FFE667 !important;
    background-image: url(/img/descarga.png);
    background-size: 1000px 700px;
}

/*--------------------Nav-bar Crea--------------------------*/

/*Colores nav*/
.navbar{
    background-color: #0C00C0;
    font-family: 'TipografiaTitulos';
    font-size: 30px;
    height: 100px;
}

 .nav-link > .fa-solid,  .nav-link > .fa-regular {
   padding-right: 7px;
}



.nav-link {
    color: white !important;
}

.nav-link:hover{
    color:#FFE667 !important;
}

/*Posición de listados*/


  .navbar-nav > li{
    margin-left:30px;
    margin-right:30px;

  }




    /*Logo nav*/
.logoCrea{
    width: 167px;
    vertical-align: middle;
    margin-top: -18px;
    margin-left: 25px;
    
}
.tech{
    font-family: 'TipografiaTitulos';
    font-size: 40px;
    margin-top: -20px;

}

/*--------------------Cuerpo-----------------------*/
.crea-banner{
    margin-top: 150px;
    margin-bottom: 30px; 
}

.imgrobot{
    width: 75%;
}

.container-contenido {
width: max-content;
margin-left: 50%;
transform: translateX(-50%);
}


.contenido{
    font-family: 'TipografiaTitulos';
    font-size: 80px;
    color: #0C00C0;
    margin-inline: auto;
    text-align: center;
    overflow: hidden ;
    white-space: nowrap ;
    border-right: 1px solid ;

    
}

.fundamentos{
    animation: typing 3s steps(33) forwards,
    blink 1s steps(22) infinite;
}

.evaluaciones{
    animation: typing 1s steps(11) forwards,
    blink 1s steps(22) infinite;
}

.notas{
    animation: typing 0.6s steps(6) forwards,
    blink 1s steps(22) infinite;
}
.anuncios{
    animation: typing 1s steps(9) forwards,
    blink 1s steps(22) infinite;
}

.zoom{
    animation: typing 2s steps(22) forwards,
    blink 1s steps(22) infinite;
}




@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    50% { border-color: transparent;}
}


.centrado-botones{
    margin-top: 50px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    

}

.funciones{
   text-align: center;
}   

.texto-zoom{
    padding-left: 100px;
}

.img-zoom{
    width: 600px;

}

.btn-close {
    background-color: #0C00C0 !important;
}

.botones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 110px;
    width: 60%; /* Ajusta según necesidad */
    height: 500px; /* Ajusta según necesidad */

}

.container-dedo {
    display: flex;
            align-items: center;

            padding: 20px;
            border-radius: 10px;
}

.icon img {
    width: 100px;
    font-size: 30px;
}

.text {
    margin-left: 15px;
    font-family: 'TipografiaTextos';
    font-size: 40px;
    font-weight: bold;
}



.botones > .btn{
   background-color: #0C00C0 !important;
   border: 3px solid #A8DE73 !important;
   font-size: 40px;
   font-family: 'TipografiaTextos';
   box-shadow: 10px 10px 10px #0C00C0;
}

.botones > .btn:hover{
    background-color: #FF98DD !important;
    border: 3px solid #A8DE73 !important;
    font-size: 40px;
    font-family: 'TipografiaTextos';
    box-shadow: 10px 10px 10px #0C00C0;
 }

/*Modals*/
.modal-content{
    background-color: #FFE667 !important;

}

.modal-header{
    color: #0C00C0 !important;
    font-family: 'TipografiaTitulos';
}

.modal-header > h1{

    font-family: 'TipografiaTitulos';
    font-size: 40px !important;
}












th, td {
    color: #0C00C0 !important;
    padding-left: 30px  !important;
    padding-right: 40px  !important;
    
  }
  
table{
    font-size: x-large;
    border-collapse: separate !important;
    border-spacing:20px 20px !important;
}
th{
    text-align: center;
    font-family: 'TipografiaTitulos';
    background-color:#A8DE73 !important;
    padding-top: 20px !important;
    padding-bottom: 20px  !important;
    font-size: 25px;
} 

td{
    padding-top: 20px !important;
    padding-bottom: 20px  !important;
    font-family: 'TipografiaTextos';
    font-size: 25px;
}
tr > td > span{
    font-size: 25px;
    font-family: 'TipografiaTitulos';
}

.footer-tabla{
    color: #000000 !important;
    font-size: 20px;
}


.contenedor-tabla2{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


table.blueTable {
    border: 3px solid #a0a0a000;
    background-color: #FFFFFF;
    width: 60%;
    text-align: center;
  }
  table.blueTable td, table.blueTable th {
    border: 3px solid #87878700;
    padding: 4px 3px;
  }
  table.blueTable tbody td {
    font-size: 17px;
  }




.container-footer{
    background-color: #0C00C0;
    width: 100%;
    height: 100px;
    margin-top: 100px;
    position: absolute;
    text-align: center;
    font-family: 'TipografiaTitulos';
    font-size: 40px;
    color: white;
}
.container-footer p{
    margin-top: 20px;
}

.contenido-notas{
    margin-top: -100px;
    display: flex; /* Activa el diseño flexible */
    align-items: center; /* Alinea la imagen y el texto verticalmente */
    gap: 10px; /* Espacio entre la imagen y el texto */
}

.contenido-anuncios{
    margin-top: -65px !important;
}

.contenido-zoom{
    
}

.contenido-notas  img{
    display: flex; /* Activa el diseño flexible */
    width: 600px !important;
    align-items: center; /* Alinea la imagen y el texto verticalmente */
    gap: 10px; /* Espacio entre la imagen y el texto */ 
}

.contenido-notas > p{
    font-family: 'TipografiaTextos';
    font-size: 40px;
    padding-left: 300px !important;
    text-align: center;
}

#button-modal {
    background-color: #0C00C0;
}


@media only screen and (max-width: 768px) {
 
    .imgrobot{
        margin-top: -35px;
        width: 95%;
    }
    .contenido{
        font-family: 'TipografiaTitulos';
        font-size: 50px;
    } 
}